@model Child

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Account Summary</h2>
<p>Current Balance: @Model.Account.Balance</p>

<h3>Pocket Money Schedule</h3>
@if(Model.Account.PaymentSchedules.Count == 0) {
<p>No pocket money schedule has been created yet.</p>
} else {
<table>
    <thead>
        <tr>
            <th>Due</th>
            <th>Interval</th>
            <th>Description</th>
            <th>Amount</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
@foreach(var schedule in Model.Account.PaymentSchedules) {
    <tbody>
        <tr>
            <td>@schedule.NextRun.ToShortDateString()</td>
            <td>@schedule.Interval</td>
            <td>@schedule.Description</td>
            <td>@schedule.Amount.ToString("0.00")</td>
            <td>@Html.ActionLink("Delete", "RemoveSchedule", "Schedule", new { id = Model.Id, scheduleId = schedule.Id }, null)</td>
        </tr>
    </tbody>
}
</table>
}

<h3>Transactions</h3>
@if(Model.Account.Transactions.Count == 0) {
<p>There are no transactions yet.</p>
} else {
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
@foreach(var transaction in Model.Account.Transactions.Reverse()) {
    <tbody>
        <tr>
            <td>@transaction.Date.ToShortDateString()</td>
            <td>@transaction.Description</td>
            <td>@transaction.Amount.ToString("0.00")</td>
        </tr>
    </tbody>
}
</table>
}

