@model WithdrawCashForChildViewModel

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>Withdraw Cash For Your Child</h2>
<p>Use this form if you want to give your child some cash, or if you have bought something on their behalf. The amount will be deducted from their account.</p>
<p>@Html.ValidationSummary()</p>
<div>
    @{ Html.BeginForm(); }
    @Html.HiddenFor(x => x.ChildId)
    @Html.HiddenFor(x => x.ChildName)
    <table>
        <tr>
            <td><label for="Description">Description</label></td>
            <td>@Html.TextBoxFor(x => x.Description)</td>
        </tr>
        <tr>
            <td><label for="Amount">Amount @Current.CurrencySymbol</label></td>
            <td>@Html.TextBoxFor(x => x.Amount)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Withdraw Cash For Your Child" /></td>
        </tr>
    </table>
    @{ Html.EndForm(); }
</div>


